.no-float {
  float: none;
}

@media (min-width: 640px) {
  .sm\:no-float {
    float: none;
  }
}

.max-width-960 {
  max-width: 960px;
}

.max-width-1075 {
  max-width: 1075px;
}

.mbn_2 {
  margin-bottom: -2rem;
}

.background-none {
  background: none;
}

.border-none {
  border-width: none;
}
