<nav class="mt6 flex flex-row justify-between items-center p_5" id="nav-container">
  <div class="Nav__logo" id="boxandchips-main-logo">
    <%= render 'shared/svgs/logo' %>
  </div>

  <!-- <ul class="list-reset">
    <li>
      <p class="nav-text uppercase pointer" id="how-it-works">
        How it works
      </p>
    </li>
  </ul> -->

</nav>
