<nav class="mt6 flex flex-row justify-between items-center p_5">
  <div class="Nav__logo">
    <%= render 'shared/svgs/logo' %>
  </div>

  <ul class="list-reset">
    <li>
      <p class="nav-text uppercase pointer">
        How it works
      </p>
    </li>
  </ul>

</nav>
