<div class="Splash__container pt4 mt3">
  <div class="Splash__hero flex flex-row items-center py4 w100">
    <div class="">
      <p class="large-body-text text-black-wash">
        tasty, delicious chips
        <br>
        hand picked for you
        <br>
        from all around the world
        <span>

        </span>
      </p>
    </div>

    <div class="">
    <div class="Splash__chip absolute">
        <%= render 'shared/svgs/chip' %>
      </div>
    </div>

  </div>
</div>
