<div class="Splash__container py4 md:mt2">
  <div class="Splash__hero clearfix lg:flex lg:flex-row items-center w100">
    <div class="col col-12 md:col-7">
      <p class="large-body-text color-black-wash xs:col-11" id="hero-text">
        Tasty, delicious chips
        <br class="none md:inline" />
        from around the world
        <!-- <br class="none sm:inline" /> -->
        <span class="block sub-body-text color-yellow" id="hero-small-text">
          <!-- tasty delicious chips, hand picked for you.
          <br > -->
        Delivered to your door. Learn more below
        </span>
      </p>
    </div>


    <div class="col col-10 md:col-5 pt2 clearfix">
      <div class="Splash__chip--medium Splash__chip--mobile" id="hero-chip-svg">
        <%= render 'shared/svgs/chip' %>
      </div>
    </div>

  </div>


  <div class="Splash__second-hero flex flex-col pt4 lg:flex-row my4 lg:my8 lg:pt6 justify-between">
    <div class="lg:none">
      <p class="Splash__second-hero__text relative large-body-text color-black-wash text-right mbn_2 pl4" id="mobile-start-monthly-second-hero-text">
        start monthly or get a one-time box
      </p>
    </div>
    <div class="lg:self-center">
      <div class="Splash__box-image" id="second-hero-box-svg">
        <%= render 'shared/svgs/box_3' %>
      </div>
    </div>
    <div class="self-center none lg:flex lg:flex-col">
      <p class="Splash__second-hero__text large-body-text color-black-wash text-right" id="desktop-start-monthly-second-hero-text">
        start monthly or get<br>a one-time box
      </p>
      <span class="block medium color-yellow sm:mt0 text-right" id="desktop-start-monthly-second-hero-small-text">
          we're giving away an annual Subscription on March 7th 2019
          <br />
          subscribe below by January 31st 2019 for a chance to win
      </span>
    </div>
  </div>

  <div class="Splash__sign-up lg:py6" data-subscribe-form-container>
    <p class="large-body-text mx-auto text-center color-black-wash" id="form-title-text">
      We're starting something new
      <span class="block sub-body-text color-yellow mt_5 sm:mt0 col-12 md:col-6 mxauto" id="form-title-small-text">
        be first to know
      </span>
      <form class="flex flex-col" data-subscribe-form>
        <div class="FormMessage caption mxauto text-center" data-form-message>
        </div>
        <input type="email" name='email' class="col-11 md:col-5 mxauto border-bottom-medium border-black-wash sub-body-text text-black-gray text-center mt3" placeholder="what's your email address ?" data-subscribe-email-field />
        <p class="col-11 md:col-4 caption color-light-gray text-center mxauto pt_5 pb2" id="form-data-promise-disclaimer">
          We promise not to send you spam; not to share nor sell your information.
        </p>
        <button data-form-submit type="submit" name="button" class="Splash__subscribe-button pointer mxauto background-none border border-medium py_5 px4 border-yellow flex flex-row items-center justify-center" id="subscribe-form-submit-button">
          <p class="sub-body-text color-yellow mr_5">
            notify me
          </p>
          <div class="Splash__bag-wrapper fill-yellow">
            <%= render 'shared/svgs/bagofchips' %>
          </div>
        </button>
      </form>

    <p>
  </div>

  <div class="Splash__thank-you-container py4 lg:py6 none" data-subscribe-thank-you-container>
    <p class="large-body-text mx-auto text-center color-black-wash" id="title-text-successful-subsciption">
      Welcome to the club!
      <span class="block sub-body-text color-yellow mt_5 sm:mt0 col-12 md:col-6 mxauto" id="body-text-successful-subsciption">
        we're excited to send you unique brands of chips you may have never heard of before.
      </span>
    </p>
  </div>
</div>
