<div class="Splash__container pt2 sm:pt4 mt1 sm:mt3">
  <div class="Splash__hero lg:flex lg:flex-row items-center py2 w100">
    <div class="">
      <p class="large-body-text text-black-wash">
        tasty, delicious chips
        <br class="none sm:inline" />
        hand picked for you
        <br class="none sm:inline" />
        from all around the world
        <span class="block sub-body-text text-yellow">
          learn more below
        </span>
      </p>
    </div>

    <div class="none col lg:block">
      <div class="Splash__chip absolute">
        <%= render 'shared/svgs/chip' %>
      </div>
    </div>

    <div class="col col-12 sm:col-7 pt2 lg:none clearfix">
      <div class="Splash__chip--mobile">
        <%= render 'shared/svgs/chip' %>
      </div>
    </div>

  </div>

  <div class="Splash__second-hero">
  </div>
</div>
