.Splash {

  &__chip {
    height: auto;

    &--mobile {
      width: 100%;
      bottom: 0;
    }

    @media screen and (min-width: 52rem) {
      &--medium {
        width: 23rem;
        bottom: 25%;
      }
    }

    @media screen and (min-width: 67rem) {
      &--large {
        width: 26rem;
        bottom: 25%;
      }
    }
  }

  &__bag-wrapper {
    height: 36px;
    width: 32px;
    transition: fill 0.50s ease-out;
  }

  &__box-image {
    width: 100%;
    height: auto;

    @media screen and (min-width: 40rem) {
      width: 60%;
      float: right;
    }

    @media screen and (min-width: 64rem) {
      width: 24rem;
      float: none;
    }

    @media screen and (min-width: 67rem) {
      width: 27rem;
      float: none;
    }
  }

  &__subscribe-button {
    transition: border-color 1.25s ease-out;

    &:hover {
      .Splash__bag-wrapper {
        fill: color('light-gray');
        transition: fill 1s ease-in;
      }

      border-color: color('yellow-wash');
      transition: border-color 2s ease-out;
    }
  }

}
