.Splash {

  &__chip {
    height: auto;
    width: 100%
    
    // &--mobile {
    //   width: 100%;
    //   bottom: 0;
    // }
    //
    // @media screen and (min-width: 52rem) {
    //   &--medium {
    //     width: 23rem;
    //     bottom: 25%;
    //   }
    // }
    //
    //
    // @media screen and (min-width: 67rem) {
    //   &--large {
    //     width: 26rem;
    //     bottom: 25%;
    //   }
    // }
  }

  &__bag-wrapper {
    height: 36px;
    width: 32px;
    transition: fill 0.50s ease-out;
  }

  &__box-image {
    width: 100%;
    height: auto;

    @media screen and (min-width: 40rem) {
      width: 60%;
      float: right;
    }

    @media screen and (min-width: 64rem) {
      width: 24rem;
      float: none;
    }

    @media screen and (min-width: 67rem) {
      width: 27rem;
      float: none;
    }
  }

  &__subscribe-button {
    transition: border-color 1.25s ease-out;

    &:hover {
      .Splash__bag-wrapper {
        fill: color('light-gray');
        transition: fill 1s ease-in;
      }

      border-color: color('yellow-wash');
      transition: border-color 2s ease-out;
    }
  }

  &__thank-you-container {
    opacity: 0;

    &--initialize {
      opacity: 1;
      display: block;
      transition: all 1.2s ease-in;
    }
  }

  &--success {
    opacity: 0;
    transform: translateX(-300%);
    height: 0px;
    padding: 0px;
    margin: 0px;
    // transition: opacity 0.4s ease-out, transform 0.6s ease-out, all 1.3s ease-out;
    transition: all 0.5s ease-out;

  }

}
